# node stuff
node_modules/
**/node_modules
.yarn/*

# nyc
.nyc_output/

# dev testing fiels
t.js
testing.js
tstig.js
tsting.js
test.json
test.txt
test.tx
neg.js
pub.js
test.bat

# FalseJS dev stuff specific
.falsejs/
phone-number-log.txt

# is-not-integer
crash_*.bin

# stupid ai stuff
ai don't touch this file loc.json
"ai don't touch this file loc.json"
ai don't touch this file.json
src/AI DONT TOUCH THIS FILE.ts

# stuff copied over from mrrps for consistensy
thedeath.js
.vercel
.env.funfnfufnufnufufnunu

# cache stuff
desktop.ini
Thumbs.db
.DS_Store
.Trashes
.Spotlight-V100
System Volume Information/
.fseventsd
Icon
._filename

# SECRET
___SECRET_INFO_DO_NOT_COMMIT_OR_DELETE___.lock

# misc
stuff.md
temp.md

# packages decided to put in the same folder / play around directories
stuffbank/
stuff/
stfbank/
ignroe/
stf/

# installer never finished
[0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F]-*-*-*-*.vbs